/* BEGIN NORMALIZE CSS STYLES */
@import url(../../bower_components/normalize-less/normalize.less);
/* END NORMALIZE CSS STYLES */
/* BEGIN FONTS */
@font-face {
  font-family: "aLoveOfThunder";
  src: url("../fonts/A Love of Thunder.ttf");
}
@font-face {
  font-family: "AxureHandwritingCE";
  src: url("../fonts/AxureHandwritingCE.ttf");
}
@font-face {
  font-family: "ChalkdusterCE";
  src: url("../fonts/ChalkdusterCE.ttf");
}
@font-face {
  font-family: "Courbd";
  src: url("../fonts/courbd.ttf");
}
@font-face {
  font-family: "ReklameScriptRegularCE";
  src: url("../fonts/ReklameScript-RegularCE.ttf");
}
/* END FONTS */
/* BEGIN GLOBAL STYLES */
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
html, body {
  font-size: 100%;
  width: 100%;
  position: relative;
}
/* Clearfix */
.clearfix::after {
  display: table;
  content: '';
  clear: both;
}
/* END Clearfix */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  min-width: 320px;
}
